<h3 class="pull-left">
    Tarify
</h3>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div>
      <button type="button" (click)="chooseTarif(1)" class="btn">BASIC Plán</button>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div>
      <button type="button" (click)="chooseTarif(2)" class="btn">STANDARD Plán</button>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div>
      <button type="button" (click)="chooseTarif(3)" class="btn">PROFI Plán</button>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div>
      <button type="button" (click)="chooseTarif(4)" class="btn">ENTERPRISE Plán</button>
    </div>
  </div>
</div>


