<h3 class="pull-left">
    Tarif - Doplňující data
</h3>

<form (ngSubmit)="onSubmit()" #tarifInfoForm="ngForm">
  <div class="form-group">
    <label for="name">Jméno</label>
    <input type="text" class="form-control" id="name"
           required minlength="2" maxlength="50"
           [(ngModel)]="tarifRegistration.name" name="name"
           #name="ngModel">
    <div *ngIf="formErrors.name" class="my-alert-danger">
      <p>{{ formErrors.name }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="ico">IČO</label>
    <input type="text" class="form-control" id="ico"
           [(ngModel)]="tarifRegistration.name" name="ico"
           #ico="ngModel">
    <div *ngIf="formErrors.ico" class="my-alert-danger">
      <p>{{ formErrors.ico }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="dic">DIČ</label>
    <input type="text" class="form-control" id="dic"
           [(ngModel)]="tarifRegistration.dic" name="dic"
           #dic="ngModel">
    <div *ngIf="formErrors.dic" class="my-alert-danger">
      <p>{{ formErrors.dic }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="phone">Telefon</label>
    <input type="text" class="form-control" id="phone"
           [(ngModel)]="tarifRegistration.phone" name="phone"
           #phone="ngModel">
    <div *ngIf="formErrors.phone" class="my-alert-danger">
      <p>{{ formErrors.phone }}</p>
    </div>
  </div>

  <div class="form-group">
    <label for="street">Ulice a číslo</label>
    <input type="text" class="form-control" id="street"
           [(ngModel)]="tarifRegistration.street" name="street"
           #street="ngModel">
    <div *ngIf="formErrors.street" class="my-alert-danger">
      <p>{{ formErrors.street }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="city">Město</label>
    <input type="text" class="form-control" id="city"
           [(ngModel)]="tarifRegistration.city" name="city"
           #city="ngModel">
    <div *ngIf="formErrors.city" class="my-alert-danger">
      <p>{{ formErrors.city }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="psc">PSČ</label>
    <input type="text" class="form-control" id="psc"
           [(ngModel)]="tarifRegistration.psc" name="psc"
           #psc="ngModel">
    <div *ngIf="formErrors.psc" class="my-alert-danger">
      <p>{{ formErrors.psc }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="country">Stát</label>
    <input type="text" class="form-control" id="country"
           [(ngModel)]="tarifRegistration.country" name="country"
           #country="ngModel">
    <div *ngIf="formErrors.country" class="my-alert-danger">
      <p>{{ formErrors.country }}</p>
    </div>
  </div>



  <div class="clearfix"></div>

  <div class="form-group text-right">
    <a routerLink="/tarifUser" class="btn btn-default">Zpět na registrační údaje</a>
    <button type="submit" [disabled]="!tarifInfo.form.valid" class="btn btn-success">Přejít k rekapitulaci</button>
  </div>
</form>
