<h3 class="pull-left">
    Tarif - uživatelská data
</h3>

<form (ngSubmit)="onSubmit()" #tarifUserForm="ngForm">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email"
           required pattern=”^[a-zA-Z0–9_.+-]+@[a-zA-Z0–9-]+.[a-zA-Z0–9-.]+$” minlength="2" maxlength="50"
           [(ngModel)]="tarifRegistration.email" name="email"
           #name="ngModel">
    <div *ngIf="formErrors.email" class="my-alert-danger">
      <p>{{ formErrors.email }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Heslo</label>
    <input type="text" class="form-control" id="password"
           required minlength="2" maxlength="20"
           [(ngModel)]="tarifRegistration.password" name="surname" #password="ngModel">
    <div *ngIf="formErrors.password" class="my-alert-danger">
      <p>{{ formErrors.password }}</p>
    </div>
  </div>
  <div class="form-group">
    <label>Heslo potvrzení</label>
    <input type="text" class="form-control" id="passwordConfirm"
           required validateEqual="password" minlength="2" maxlength="20"
           [(ngModel)]="tarifRegistration.passwordConfirm" name="passwordConfirm" #passwordConfirm="ngModel">
    <div *ngIf="formErrors.passwordConfirm" class="my-alert-danger">
      <p>{{ formErrors.passwordConfirm }}</p>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="form-group text-right">
    <a routerLink="/" class="btn btn-default">Zpět na tarify</a>
    <button type="submit" [disabled]="!tarifUser.form.valid" class="btn btn-success">Zadat doplňující údaje</button>
  </div>
</form>
